@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "RocknRoll One", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.custom-font {
  font-family: "RocknRoll One", sans-serif;
}

